.header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 81px;
}

header h1 {
    padding: 14px 0 0 0;
}

header h1 a {
    display: block;
    width: 110px;
    height: 48px;
    color: transparent;
    background: url("../images/sp_com.png") no-repeat -300px 0;
}

.header .lnb ul li a {
    display: block;
    height: 81px;
    font-size: 18px;
    font-weight: 300;
    padding: 0 35px 0;
    line-height: 81px;
}

.header .lnb ul li a:hover {
    color: #2d5b79;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}

header nav ul {
    display:flex;
    justify-content: space-around;
}

.header .spot {
    position: relative;
}

.header .spot ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 1px;
    height: 7px;
    background: gray;
    transform: translateY(-50%);
}

.header .spot ul li:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.header .spot ul li:first-child:after {
    display: none;
}

.spot ul li a {
    display: block;
    height: 81px;
    font-size: 14px;
    line-height: 81px;
    padding: 0 10px 0;
    font-weight: 200;
}

.spot ul li:last-child a {
    padding-right: 0;
}

.slider { position: relative; padding: 0 50px; }

.slider .sliderContainer .sliderContent {
    height: 690px;
    width: 100%;
    background: url("../images/bg_main00.jpg");
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .sliderContainer .sliderContent p {
    font-size: 26px;
    font-weight: 300;
}
.slider .sliderContainer .sliderContent span {
    font-size: 45px;
    font-weight: 300;
}


.slider .controller .sliderButton > div {
    display: inline-block;
}

.slider .controller .prev, .slider .controller .next {
    position: absolute;
    width: 30px;
    height:48px;
    top: 50%;
    transform: translateY(-50%);
    color: transparent;
    background: url("../images/sp_com.png") no-repeat center;
}

.slider .controller {
    background-position: -128px -60px;
}

.slider .controller .prev {
    left: 80px;
    background-position: -128px -60px;
}

.slider .controller .next {
    right: 80px;
    display: block;
    background-position: -158px -60px;
}

.slider .controller .sliderButton ul li{
    display: inline-block;
    margin: 0px 1.5px;
}

.slider .controller .sliderButton{
    position: absolute;
    left: 0px;
    bottom: 55px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .controller .sliderButton > div a{
    width: 8px;
    height: 9px;
    display: block;
    color: transparent;
    overflow: hidden;
    margin: 0 4px;
    opacity: 0.5;
    background: url("../images/sp_com.png") no-repeat center;
}

.slider .controller .sliderButton > div.on a {
    opacity: 1;
}

.slider .controller .sliderButton .start{
    background-position: -108px -72px;
}

.slider .controller .sliderButton .pause{
    background-position: -108px -60px;
}


.slider .controller .sliderButton ul {
    position: relative;
    bottom: -7px;
    padding: 0 20px 0 0;
}

.slider .controller .sliderButton ul, .slider .controller .sliderButton ul li{
    display: inline-block;
}

.slider .controller .sliderButton ul li a {
    color: transparent;
    background-color: rgba(255,255,255,0.5);
    width: 50px;
    height: 3px;
    display: block;
}

.slider .controller .sliderButton ul li.on a {
    background-color: #fff;
}

.product { height: 180px; padding: 50px 50px;}
.product ul {
    display: flex;
    justify-content: center;
}

.product span {
    display: inline-block;
    width: 62px;
    height: 52px;
    background: url("../images/sp_com.png") no-repeat center;
}

.product li:nth-child(1) span { background-position: -3px -118px; }
.product li:nth-child(2) span { background-position: -75px -118px; }
.product li:nth-child(3) span { background-position: -148px -118px; }
.product li:nth-child(4) span { background-position: -219px -118px; }
.product li:nth-child(5) span { background-position: -292px -118px; }
.product li:nth-child(6) span { background-position: -364px -118px; }

.product li:nth-child(1) span:hover { background-position: -3px -184px; }
.product li:nth-child(2) span:hover { background-position: -75px -184px; }
.product li:nth-child(3) span:hover { background-position: -148px -184px; }
.product li:nth-child(4) span:hover { background-position: -219px -184px; }
.product li:nth-child(5) span:hover { background-position: -292px -184px; }
.product li:nth-child(6) span:hover { background-position: -364px -184px; }

.product a:hover {
    color: #2d5b79;
    font-weight: bold;
}

.product ul li a {
    display: block;
    position: relative;
    text-align: center;
    width: 174px;
    height: 100px;
}

.product ul li a p{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
}

.productGallery { padding: 40px 0px; height: 590px; width: 100%; background-color: #dfd9d1; }

.galleryView { display: flex; justify-content: center;}

.galleryViewUlContainer { padding: 20px; width:340px; height: 388px; background-color: #fff; }

.galleryViewUlContainer a { display: block; width: 100%; height: 82px; }

.galleryViewUlContainer img { width: 82px; height: 82px; }

.galleryViewUlContainer strong { font-size:14px; }

.productGallery>div:nth-child(1) {text-align: center; margin-bottom: 38px; }

.galleryViewUlContainer li:not(:first-child) { margin-top:20px }

.galleryViewUlContainer div { position: relative; top: 10; margin-left: 20px; display: inline-block;}
